@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: fallback; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: fallback; }

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh; }

.main {
  position: absolute;
  top: 30vh;
  left: 20vw;
  z-index: 1; }

.react {
  color: #999;
  transition: color .1s linear; }
  .react.light {
    color: #eee; }

a {
  color: #eee;
  text-decoration: none; }
  a:active {
    color: #eee;
    text-decoration: line-through; }
  a:hover {
    color: #eee;
    text-decoration: underline; }

#links ul {
  list-style: none;
  margin: 0;
  margin-top: .5em;
  padding: 0; }
  #links ul li:before {
    content: "-";
    text-indent: .5em; }

.text {
  text-align: left;
  font-size: 1.5em; }

.wrap {
  margin: 0px;
  min-width: 33%;
  max-width: 75%;
  display: inline; }
  .wrap .header {
    font-size: 5em;
    color: #fff;
    display: inline;
    margin: 0px; }
    .wrap .header.long {
      font-size: 4.25em; }

.header.long.glitch {
  margin-right: .25em; }

.flex_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
  height: 30vh; }

.art_asset {
  max-width: 50%;
  max-height: 100%;
  text-align: center; }

.img_asset {
  max-width: 100%;
  max-height: 100%;
  background: rgba(238, 238, 238, 0.3); }

@media all and (min-width: 0px) and (max-width: 1024px) {
  body {
    overflow-y: auto; }
  .main {
    top: 5vh;
    left: 10vw; }
  .text {
    font-size: 2.25em;
    margin-right: 15%; }
  .flex_container {
    max-width: 90vw; }
  .art_asset {
    max-width: 100%; } }

.glitch {
  color: #FFF;
  position: relative; }

@keyframes glitch-anim-1 {
  0% {
    clip: rect(80px, 500px, 84px, 0); }
  5% {
    clip: rect(6px, 500px, 248px, 0); }
  10% {
    clip: rect(174px, 500px, 224px, 0); }
  15% {
    clip: rect(95px, 500px, 46px, 0); }
  20% {
    clip: rect(201px, 500px, 176px, 0); }
  25% {
    clip: rect(105px, 500px, 174px, 0); }
  30% {
    clip: rect(148px, 500px, 47px, 0); }
  35% {
    clip: rect(125px, 500px, 122px, 0); }
  40% {
    clip: rect(19px, 500px, 229px, 0); }
  45% {
    clip: rect(230px, 500px, 45px, 0); }
  50% {
    clip: rect(180px, 500px, 236px, 0); }
  55% {
    clip: rect(2px, 500px, 172px, 0); }
  60% {
    clip: rect(167px, 500px, 29px, 0); }
  65% {
    clip: rect(195px, 500px, 148px, 0); }
  70% {
    clip: rect(144px, 500px, 82px, 0); }
  75% {
    clip: rect(148px, 500px, 231px, 0); }
  80% {
    clip: rect(119px, 500px, 239px, 0); }
  85% {
    clip: rect(219px, 500px, 119px, 0); }
  90% {
    clip: rect(178px, 500px, 169px, 0); }
  95% {
    clip: rect(67px, 500px, 214px, 0); }
  100% {
    clip: rect(78px, 500px, 117px, 0); } }

@keyframes glitch-anim-2 {
  0% {
    clip: rect(135px, 500px, 27px, 0); }
  5% {
    clip: rect(248px, 500px, 246px, 0); }
  10% {
    clip: rect(189px, 500px, 108px, 0); }
  15% {
    clip: rect(232px, 500px, 218px, 0); }
  20% {
    clip: rect(178px, 500px, 27px, 0); }
  25% {
    clip: rect(108px, 500px, 15px, 0); }
  30% {
    clip: rect(139px, 500px, 178px, 0); }
  35% {
    clip: rect(74px, 500px, 163px, 0); }
  40% {
    clip: rect(138px, 500px, 234px, 0); }
  45% {
    clip: rect(240px, 500px, 142px, 0); }
  50% {
    clip: rect(184px, 500px, 184px, 0); }
  55% {
    clip: rect(131px, 500px, 205px, 0); }
  60% {
    clip: rect(18px, 500px, 238px, 0); }
  65% {
    clip: rect(210px, 500px, 224px, 0); }
  70% {
    clip: rect(222px, 500px, 205px, 0); }
  75% {
    clip: rect(247px, 500px, 199px, 0); }
  80% {
    clip: rect(246px, 500px, 79px, 0); }
  85% {
    clip: rect(58px, 500px, 113px, 0); }
  90% {
    clip: rect(5px, 500px, 40px, 0); }
  95% {
    clip: rect(95px, 500px, 65px, 0); }
  100% {
    clip: rect(61px, 500px, 132px, 0); } }
  .glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    clip: rect(0, 0, 0, 0); }
  .glitch:after {
    left: 2px;
    text-shadow: -2px 0 #F00;
    animation: glitch-anim-1 2s infinite linear alternate-reverse; }
  .glitch:before {
    left: -1px;
    text-shadow: 2px 0 #00F;
    animation: glitch-anim-2 3s infinite linear alternate-reverse; }

.glitch2 {
  color: #FFF;
  position: relative; }

@keyframes glitch2-anim-1 {
  0% {
    clip: rect(162px, 600px, 316px, 0); }
  4% {
    clip: rect(35px, 600px, 148px, 0); }
  8% {
    clip: rect(84px, 600px, 13px, 0); }
  12% {
    clip: rect(194px, 600px, 244px, 0); }
  16% {
    clip: rect(305px, 600px, 170px, 0); }
  20% {
    clip: rect(257px, 600px, 306px, 0); }
  24% {
    clip: rect(180px, 600px, 220px, 0); }
  28% {
    clip: rect(256px, 600px, 298px, 0); }
  32% {
    clip: rect(29px, 600px, 288px, 0); }
  36% {
    clip: rect(62px, 600px, 109px, 0); }
  40% {
    clip: rect(242px, 600px, 61px, 0); }
  44% {
    clip: rect(226px, 600px, 266px, 0); }
  48% {
    clip: rect(167px, 600px, 183px, 0); }
  52% {
    clip: rect(300px, 600px, 228px, 0); }
  56% {
    clip: rect(314px, 600px, 307px, 0); }
  60% {
    clip: rect(35px, 600px, 189px, 0); }
  64% {
    clip: rect(103px, 600px, 24px, 0); }
  68% {
    clip: rect(244px, 600px, 114px, 0); }
  72% {
    clip: rect(290px, 600px, 129px, 0); }
  76% {
    clip: rect(248px, 600px, 31px, 0); }
  80% {
    clip: rect(296px, 600px, 258px, 0); }
  84% {
    clip: rect(199px, 600px, 297px, 0); }
  88% {
    clip: rect(311px, 600px, 259px, 0); }
  92% {
    clip: rect(240px, 600px, 295px, 0); }
  96% {
    clip: rect(36px, 600px, 296px, 0); }
  100% {
    clip: rect(301px, 600px, 59px, 0); } }

@keyframes glitch2-anim-2 {
  0% {
    clip: rect(229px, 600px, 1px, 0); }
  4% {
    clip: rect(283px, 600px, 28px, 0); }
  8% {
    clip: rect(85px, 600px, 209px, 0); }
  12% {
    clip: rect(258px, 600px, 296px, 0); }
  16% {
    clip: rect(51px, 600px, 11px, 0); }
  20% {
    clip: rect(33px, 600px, 163px, 0); }
  24% {
    clip: rect(150px, 600px, 69px, 0); }
  28% {
    clip: rect(303px, 600px, 297px, 0); }
  32% {
    clip: rect(292px, 600px, 271px, 0); }
  36% {
    clip: rect(241px, 600px, 212px, 0); }
  40% {
    clip: rect(320px, 600px, 269px, 0); }
  44% {
    clip: rect(225px, 600px, 62px, 0); }
  48% {
    clip: rect(102px, 600px, 45px, 0); }
  52% {
    clip: rect(214px, 600px, 23px, 0); }
  56% {
    clip: rect(91px, 600px, 67px, 0); }
  60% {
    clip: rect(41px, 600px, 274px, 0); }
  64% {
    clip: rect(158px, 600px, 25px, 0); }
  68% {
    clip: rect(177px, 600px, 59px, 0); }
  72% {
    clip: rect(266px, 600px, 171px, 0); }
  76% {
    clip: rect(70px, 600px, 251px, 0); }
  80% {
    clip: rect(89px, 600px, 113px, 0); }
  84% {
    clip: rect(300px, 600px, 128px, 0); }
  88% {
    clip: rect(109px, 600px, 99px, 0); }
  92% {
    clip: rect(204px, 600px, 280px, 0); }
  96% {
    clip: rect(275px, 600px, 8px, 0); }
  100% {
    clip: rect(267px, 600px, 133px, 0); } }
  .glitch2:before, .glitch2:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    clip: rect(0, 0, 0, 0); }
  .glitch2:after {
    left: 2px;
    text-shadow: -2px 0 #F00;
    animation: glitch2-anim-1 2s infinite linear alternate-reverse; }
  .glitch2:before {
    left: -1px;
    text-shadow: 2px 0 #00F;
    animation: glitch2-anim-2 3s infinite linear alternate-reverse; }
