@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: fallback; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: fallback; }

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh; }

.main {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 1; }

.react {
  color: #999;
  transition: color .1s linear; }
  .react.light {
    color: #eee; }

a {
  color: #eee;
  text-decoration: none; }
  a:active {
    color: #eee;
    text-decoration: line-through; }
  a:hover {
    color: #eee;
    text-decoration: underline; }

#links ul {
  list-style: none;
  margin: 0;
  margin-top: .5em;
  padding: 0; }
  #links ul li:before {
    content: "-";
    text-indent: .5em; }

.text {
  text-align: left;
  font-size: 1em; }

.wrap {
  margin: 0px;
  min-width: 33%;
  max-width: 75%;
  display: inline; }
  .wrap .header {
    font-size: 5em;
    color: #fff;
    display: inline;
    margin: 0px; }
    .wrap .header.long {
      font-size: 4.25em; }

.header.long.glitch {
  margin-right: .25em; }

@media all and (min-width: 0px) and (max-width: 1024px) {
  .main {
    top: 5%;
    left: 10%; }
  .text {
    font-size: 1.5em;
    margin-right: 15%; } }

.glitch {
  color: #FFF;
  position: relative; }

@keyframes glitch-anim-1 {
  0% {
    clip: rect(18px, 500px, 188px, 0); }
  5% {
    clip: rect(235px, 500px, 92px, 0); }
  10% {
    clip: rect(78px, 500px, 226px, 0); }
  15% {
    clip: rect(59px, 500px, 16px, 0); }
  20% {
    clip: rect(43px, 500px, 46px, 0); }
  25% {
    clip: rect(212px, 500px, 81px, 0); }
  30% {
    clip: rect(83px, 500px, 179px, 0); }
  35% {
    clip: rect(187px, 500px, 36px, 0); }
  40% {
    clip: rect(43px, 500px, 223px, 0); }
  45% {
    clip: rect(86px, 500px, 41px, 0); }
  50% {
    clip: rect(150px, 500px, 211px, 0); }
  55% {
    clip: rect(234px, 500px, 113px, 0); }
  60% {
    clip: rect(78px, 500px, 173px, 0); }
  65% {
    clip: rect(2px, 500px, 182px, 0); }
  70% {
    clip: rect(244px, 500px, 230px, 0); }
  75% {
    clip: rect(120px, 500px, 158px, 0); }
  80% {
    clip: rect(8px, 500px, 198px, 0); }
  85% {
    clip: rect(240px, 500px, 5px, 0); }
  90% {
    clip: rect(80px, 500px, 175px, 0); }
  95% {
    clip: rect(40px, 500px, 77px, 0); }
  100% {
    clip: rect(104px, 500px, 7px, 0); } }

@keyframes glitch-anim-2 {
  0% {
    clip: rect(176px, 500px, 25px, 0); }
  5% {
    clip: rect(174px, 500px, 97px, 0); }
  10% {
    clip: rect(81px, 500px, 238px, 0); }
  15% {
    clip: rect(69px, 500px, 21px, 0); }
  20% {
    clip: rect(47px, 500px, 138px, 0); }
  25% {
    clip: rect(38px, 500px, 114px, 0); }
  30% {
    clip: rect(177px, 500px, 206px, 0); }
  35% {
    clip: rect(37px, 500px, 89px, 0); }
  40% {
    clip: rect(139px, 500px, 169px, 0); }
  45% {
    clip: rect(82px, 500px, 249px, 0); }
  50% {
    clip: rect(132px, 500px, 161px, 0); }
  55% {
    clip: rect(162px, 500px, 119px, 0); }
  60% {
    clip: rect(70px, 500px, 24px, 0); }
  65% {
    clip: rect(60px, 500px, 12px, 0); }
  70% {
    clip: rect(31px, 500px, 174px, 0); }
  75% {
    clip: rect(119px, 500px, 45px, 0); }
  80% {
    clip: rect(181px, 500px, 69px, 0); }
  85% {
    clip: rect(55px, 500px, 85px, 0); }
  90% {
    clip: rect(124px, 500px, 216px, 0); }
  95% {
    clip: rect(80px, 500px, 240px, 0); }
  100% {
    clip: rect(95px, 500px, 107px, 0); } }
  .glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    clip: rect(0, 0, 0, 0); }
  .glitch:after {
    left: 2px;
    text-shadow: -2px 0 #F00;
    animation: glitch-anim-1 2s infinite linear alternate-reverse; }
  .glitch:before {
    left: -1px;
    text-shadow: 2px 0 #00F;
    animation: glitch-anim-2 3s infinite linear alternate-reverse; }

.glitch2 {
  color: #FFF;
  position: relative; }

@keyframes glitch2-anim-1 {
  0% {
    clip: rect(101px, 600px, 273px, 0); }
  4% {
    clip: rect(203px, 600px, 157px, 0); }
  8% {
    clip: rect(244px, 600px, 163px, 0); }
  12% {
    clip: rect(53px, 600px, 47px, 0); }
  16% {
    clip: rect(25px, 600px, 77px, 0); }
  20% {
    clip: rect(34px, 600px, 126px, 0); }
  24% {
    clip: rect(189px, 600px, 206px, 0); }
  28% {
    clip: rect(142px, 600px, 160px, 0); }
  32% {
    clip: rect(142px, 600px, 191px, 0); }
  36% {
    clip: rect(80px, 600px, 175px, 0); }
  40% {
    clip: rect(74px, 600px, 100px, 0); }
  44% {
    clip: rect(237px, 600px, 214px, 0); }
  48% {
    clip: rect(224px, 600px, 302px, 0); }
  52% {
    clip: rect(304px, 600px, 106px, 0); }
  56% {
    clip: rect(59px, 600px, 203px, 0); }
  60% {
    clip: rect(18px, 600px, 148px, 0); }
  64% {
    clip: rect(147px, 600px, 266px, 0); }
  68% {
    clip: rect(282px, 600px, 319px, 0); }
  72% {
    clip: rect(59px, 600px, 75px, 0); }
  76% {
    clip: rect(56px, 600px, 39px, 0); }
  80% {
    clip: rect(27px, 600px, 188px, 0); }
  84% {
    clip: rect(319px, 600px, 145px, 0); }
  88% {
    clip: rect(230px, 600px, 8px, 0); }
  92% {
    clip: rect(285px, 600px, 291px, 0); }
  96% {
    clip: rect(233px, 600px, 30px, 0); }
  100% {
    clip: rect(314px, 600px, 243px, 0); } }

@keyframes glitch2-anim-2 {
  0% {
    clip: rect(99px, 600px, 262px, 0); }
  4% {
    clip: rect(13px, 600px, 307px, 0); }
  8% {
    clip: rect(86px, 600px, 115px, 0); }
  12% {
    clip: rect(97px, 600px, 46px, 0); }
  16% {
    clip: rect(113px, 600px, 96px, 0); }
  20% {
    clip: rect(263px, 600px, 308px, 0); }
  24% {
    clip: rect(5px, 600px, 303px, 0); }
  28% {
    clip: rect(306px, 600px, 11px, 0); }
  32% {
    clip: rect(25px, 600px, 28px, 0); }
  36% {
    clip: rect(225px, 600px, 298px, 0); }
  40% {
    clip: rect(221px, 600px, 56px, 0); }
  44% {
    clip: rect(245px, 600px, 5px, 0); }
  48% {
    clip: rect(172px, 600px, 34px, 0); }
  52% {
    clip: rect(295px, 600px, 156px, 0); }
  56% {
    clip: rect(221px, 600px, 1px, 0); }
  60% {
    clip: rect(164px, 600px, 304px, 0); }
  64% {
    clip: rect(257px, 600px, 271px, 0); }
  68% {
    clip: rect(114px, 600px, 110px, 0); }
  72% {
    clip: rect(206px, 600px, 188px, 0); }
  76% {
    clip: rect(203px, 600px, 196px, 0); }
  80% {
    clip: rect(187px, 600px, 307px, 0); }
  84% {
    clip: rect(34px, 600px, 137px, 0); }
  88% {
    clip: rect(274px, 600px, 254px, 0); }
  92% {
    clip: rect(186px, 600px, 4px, 0); }
  96% {
    clip: rect(150px, 600px, 126px, 0); }
  100% {
    clip: rect(240px, 600px, 101px, 0); } }
  .glitch2:before, .glitch2:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    clip: rect(0, 0, 0, 0); }
  .glitch2:after {
    left: 2px;
    text-shadow: -2px 0 #F00;
    animation: glitch2-anim-1 2s infinite linear alternate-reverse; }
  .glitch2:before {
    left: -1px;
    text-shadow: 2px 0 #00F;
    animation: glitch2-anim-2 3s infinite linear alternate-reverse; }
